<document>
    <head>
        <title>Mocked meeting</title>
        <script type="text/javascript">window.name = "Mocked meeting";</script>
    </head>
    <body>
        <div data-identifier="meetingName">{{ meeting.meetingName }}</div>
        <div data-identifier="fullName">{{ attendee.fullName }}</div>
        <div data-identifier="attendeeRole">{{ attendee.role }}</div>
    </body>
</document>
